In [7]:
import pandas as pd
import ydata_profiling as prof
import missingno as msno

In [2]:
data = pd.read_csv("train.csv")
data.head()

,Gender,Age,Connect_Date,L_O_S,Dropped_Calls,tariff,Handset,Peak_calls_Sum,Peak_mins_Sum,OffPeak_calls_Sum,...,Tariff_OK,average cost min,Peak ratio,OffPeak ratio,Weekend ratio,Nat-InterNat Ratio,high Dropped calls,No Usage,target,id
0,F,50.0,20/05/98,29.200000,2.0,Play 100,BS210,62.0,153.000000,185.0,...,OK,0.150531,0.246536,0.706735,0.046729,0.203034,F,F,0,K262360
1,M,25.0,16/12/96,46.533333,1.0,CAT 100,ASAD90,146.0,718.800000,98.0,...,OK,0.188988,0.780710,0.178886,0.040404,0.273249,F,F,1,K170160
2,F,46.0,27/08/97,38.066667,1.0,CAT 50,WC95,160.0,322.800000,7.0,...,OK,0.239300,0.722633,0.277367,0.000000,0.205025,F,F,0,K331610
3,F,59.0,13/07/98,27.400000,1.0,CAT 50,BS110,84.0,317.400001,57.0,...,OK,0.221467,0.662492,0.337508,0.000000,0.050090,F,F,0,K332460
4,F,25.0,08/01/99,21.433333,1.0,Play 300,WC95,14.0,309.600000,326.0,...,OK,0.107509,0.321896,0.663132,0.014972,0.090509,F,F,0,K394220

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5044 entries, 0 to 5043
Data columns (total 39 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  5044 non-null   object
 1   Age                     5044 non-null   float64
 2   Connect_Date            5044 non-null   object
 3   L_O_S                   5044 non-null   float64
 4   Dropped_Calls           5044 non-null   float64
 5   tariff                  5044 non-null   object
 6   Handset                 5044 non-null   object
 7   Peak_calls_Sum          5044 non-null   float64
 8   Peak_mins_Sum           5044 non-null   float64
 9   OffPeak_calls_Sum       5044 non-null   float64
 10  OffPeak_mins_Sum        5044 non-null   float64
 11  Weekend_calls_Sum       5044 non-null   float64
 12  Weekend_mins_Sum        5044 non-null   float64
 13  International_mins_Sum  5044 non-null   float64
 14  Nat_call_cost_Sum       5044 non-null   float64
 15  AvePeak                 5044 non-null   float64
 16  AveOffPeak              5044 non-null   float64
 17  AveWeekend              5044 non-null   float64
 18  National_calls          5044 non-null   float64
 19  National mins           5044 non-null   float64
 20  AveNational             5044 non-null   float64
 21  All_calls_mins          5044 non-null   float64
 22  Dropped_calls_ratio     5040 non-null   float64
 23  Usage_Band              5040 non-null   object
 24  Mins_charge             5044 non-null   float64
 25  call_cost_per_min       5040 non-null   float64
 26  actual call cost        5044 non-null   float64
 27  Total_call_cost         5044 non-null   float64
 28  Total_Cost              5044 non-null   float64
 29  Tariff_OK               5044 non-null   object
 30  average cost min        5044 non-null   float64
 31  Peak ratio              5044 non-null   float64
 32  OffPeak ratio           5044 non-null   float64
 33  Weekend ratio           5044 non-null   float64
 34  Nat-InterNat Ratio      5044 non-null   float64
 35  high Dropped calls      5044 non-null   object
 36  No Usage                5044 non-null   object
 37  target                  5044 non-null   int64
 38  id                      5044 non-null   object
dtypes: float64(29), int64(1), object(9)
memory usage: 1.5+ MB

In [4]:
data.describe

<bound method NDFrame.describe of      Gender   Age Connect_Date      L_O_S  Dropped_Calls    tariff Handset  \
0         F  50.0     20/05/98  29.200000            2.0  Play 100   BS210
1         M  25.0     16/12/96  46.533333            1.0   CAT 100  ASAD90
2         F  46.0     27/08/97  38.066667            1.0    CAT 50    WC95
3         F  59.0     13/07/98  27.400000            1.0    CAT 50   BS110
4         F  25.0     08/01/99  21.433333            1.0  Play 300    WC95
...     ...   ...          ...        ...            ...       ...     ...
5039      F  16.0     15/09/97  37.433333            2.0   CAT 200  ASAD90
5040      F  29.0     28/09/96  49.166667            1.0   CAT 100   CAS30
5041      M  23.0     08/06/99  16.400000            0.0   CAT 200   BS110
5042      M  46.0     01/03/98  31.866667            2.0  Play 100     S50
5043      M  61.0     12/11/98  23.333333            0.0   CAT 100     S50

      Peak_calls_Sum  Peak_mins_Sum  OffPeak_calls_Sum  ...  Tariff_OK  \
0               62.0     153.000000              185.0  ...         OK
1              146.0     718.800000               98.0  ...         OK
2              160.0     322.800000                7.0  ...         OK
3               84.0     317.400001               57.0  ...         OK
4               14.0     309.600000              326.0  ...         OK
...              ...            ...                ...  ...        ...
5039           151.0    1169.400001              201.0  ...         OK
5040           135.0     405.600000              124.0  ...         OK
5041           566.0    2382.000000                4.0  ...         OK
5042            72.0     112.200000               31.0  ...         OK
5043           148.0     403.200000              187.0  ...         OK

      average cost min  Peak ratio  OffPeak ratio  Weekend ratio  \
0             0.150531    0.246536       0.706735       0.046729
1             0.188988    0.780710       0.178886       0.040404
2             0.239300    0.722633       0.277367       0.000000
3             0.221467    0.662492       0.337508       0.000000
4             0.107509    0.321896       0.663132       0.014972
...                ...         ...            ...            ...
5039          0.130433    0.615895       0.346500       0.037605
5040          0.189112    0.555769       0.412716       0.031515
5041          0.112657    0.810121       0.162330       0.027548
5042          0.205957    0.323250       0.664650       0.012100
5043          0.187393    0.553314       0.398930       0.047756

      Nat-InterNat Ratio  high Dropped calls  No Usage  target       id
0               0.203034                   F         F       0  K262360
1               0.273249                   F         F       1  K170160
2               0.205025                   F         F       0  K331610
3               0.050090                   F         F       0  K332460
4               0.090509                   F         F       0  K394220
...                  ...                 ...       ...     ...      ...
5039            0.127974                   F         F       1  K192650
5040            0.238615                   F         F       1  K295600
5041            0.043094                   F         F       0  K366420
5042            0.171451                   F         F       1  K219850
5043            0.219329                   F         F       0  K289480

[5044 rows x 39 columns]>

In [6]:
test = pd.read_csv("test.csv")
test.head()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1682 entries, 0 to 1681
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Gender                  1682 non-null   object
 1   Age                     1682 non-null   float64
 2   Connect_Date            1682 non-null   object
 3   L_O_S                   1682 non-null   float64
 4   Dropped_Calls           1682 non-null   float64
 5   tariff                  1682 non-null   object
 6   Handset                 1682 non-null   object
 7   Peak_calls_Sum          1682 non-null   float64
 8   Peak_mins_Sum           1682 non-null   float64
 9   OffPeak_calls_Sum       1682 non-null   float64
 10  OffPeak_mins_Sum        1682 non-null   float64
 11  Weekend_calls_Sum       1682 non-null   float64
 12  Weekend_mins_Sum        1682 non-null   float64
 13  International_mins_Sum  1682 non-null   float64
 14  Nat_call_cost_Sum       1682 non-null   float64
 15  AvePeak                 1682 non-null   float64
 16  AveOffPeak              1682 non-null   float64
 17  AveWeekend              1682 non-null   float64
 18  National_calls          1682 non-null   float64
 19  National mins           1682 non-null   float64
 20  AveNational             1682 non-null   float64
 21  All_calls_mins          1682 non-null   float64
 22  Dropped_calls_ratio     1681 non-null   float64
 23  Usage_Band              1681 non-null   object
 24  Mins_charge             1682 non-null   float64
 25  call_cost_per_min       1681 non-null   float64
 26  actual call cost        1682 non-null   float64
 27  Total_call_cost         1682 non-null   float64
 28  Total_Cost              1682 non-null   float64
 29  Tariff_OK               1682 non-null   object
 30  average cost min        1682 non-null   float64
 31  Peak ratio              1682 non-null   float64
 32  OffPeak ratio           1682 non-null   float64
 33  Weekend ratio           1682 non-null   float64
 34  Nat-InterNat Ratio      1682 non-null   float64
 35  high Dropped calls      1682 non-null   object
 36  No Usage                1682 non-null   object
 37  id                      1682 non-null   object
dtypes: float64(29), object(9)
memory usage: 499.5+ KB